# Virtual environments
.venv/
venv/

# Python cache and compiled files
__pycache__/
*.py[cod]
*$py.class

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# IDE and editor settings
.vscode/
.idea/
*.swp

# Temporary files
*.tmp
*.log